{{template "base" .}}

{{define "content"}}
<div class="hero">
    <div class="hero-content flex-col lg:flex-row-reverse">
        <div class="text-center lg:text-left">
            <h1 class="text-5xl font-bold">Choose a Room</h1>
            <p class="py-6">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi
                exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.</p>
        </div>
        <div class="card flex-shrink-0 w-full max-w-md shadow-2xl bg-base-100">
            <div class="card-body">
                {{$rooms := index .Data "rooms"}}
                
                {{range $rooms}}
                    <a 
                        class="link link-primary"
                        href="/choose-room/{{.ID}}"
                    >
                        {{.RoomName}}
                    </a><br>
                {{end}}
            </div>
        </div>
    </div>
</div>
{{end}}