{{template "base" .}}

{{define "content"}}
<div class="container mx-auto flex flex-col md:flex-row items-center">
    <!--Left Col-->
    <div class="flex flex-col w-full lg:w-1/2 justify-center items-start pt-12 pb-24 px-6">
        <p class="uppercase tracking-loose">Rooms</p>
        <h1 class="font-bold text-3xl my-4">General's Quarters</h1>
        <p class="leading-normal mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit eos minus dolorem
            ipsam nam hic suscipit quis explicabo sapiente! Praesentium harum sapiente placeat obcaecati est mollitia
            hic
            quas doloribus ex.</p>
        <!-- The button to open modal -->
        <label for="search-modal" class="btn btn-outline modal-button">
            Check Availability
        </label>

        <!-- Put this part before </body> tag -->
        <input type="checkbox" id="search-modal" class="modal-toggle" />

        <label for="search-modal" class="modal modal-bottom cursor-pointer sm:modal-middle">
            <label class="modal-box relative" for="">
                <label for="search-modal" class="btn btn-xs btn-circle absolute right-2 top-2">✕</label>
                <h3 class="text-lg font-bold my-4">Select the date you would like to reserve.</h3>
                <div class="form-control">
                    <div date-rangepicker datepicker-format="dd M yyyy" class="flex items-center">
                        <div class="relative">
                            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                <svg class="w-5 h-5 text-gray-500" fill="currentColor" viewBox="0 0 20 20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
                                        clip-rule="evenodd"></path>
                                </svg>
                            </div>
                            <input name="start" type="text"
                                class="input input-bordered sm:text-sm block w-full pl-10 p-2.5"
                                placeholder="Check-in date">
                        </div>
                        <span class="mx-4 text-gray-500">to</span>
                        <div class="relative">
                            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                <svg class="w-5 h-5 text-gray-500 " fill="currentColor" viewBox="0 0 20 20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
                                        clip-rule="evenodd"></path>
                                </svg>
                            </div>
                            <input name="end" type="text"
                                class="input input-bordered sm:text-sm block w-full pl-10 p-2.5"
                                placeholder="Check-out date">
                        </div>
                    </div>
                </div>
                <div class="form-control mt-6">
                    <button class="btn btn-primary">Search Availability</button>
                </div>
            </label>
        </label>


    </div>
    <!--Right Col-->
    <div class="w-full lg:w-1/2 lg:py-6 text-center p-3">
        <!--Add your product image here-->
        <img class="rounded" src="static/images/generals-quarters.jpg">
    </div>
</div>
{{end}}

{{define "js"}}
<script src="https://unpkg.com/flowbite@1.4.6/dist/datepicker.js"></script>
{{end}}

{{define "css"}}
<style>
    .datepicker {
        z-index: 9999 !important
    }
</style>
{{end}}