{{template "base" .}}

{{define "content"}}
<div class="hero">
    <div class="hero-content flex-col lg:flex-row-reverse">
        <div class="text-center lg:text-left">
            <h1 class="text-5xl font-bold">Make Reservation</h1>
            <p class="py-6">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi
                exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.</p>
        </div>
        <div class="card flex-shrink-0 w-full max-w-md shadow-2xl bg-base-100">
            <div class="card-body">
                {{ $res := index .Data "reservation"}}
                <form action="/make-reservation" method="post" novalidate class="">
                    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                    <div class="form-control">
                        <label class="label">
                            <span class="label-text">First Name</span>
                            {{with .Form.Errors.Get "first_name"}}
                            <span class="label-text-alt text-error">{{.}}</span>
                            {{end}}
                        </label>
                        <input id="first_name" name="first_name" type="text" placeholder="John" 
                        class="input input-bordered {{with .Form.Errors.Get "first_name"}} input-error {{end}}" value="{{$res.FirstName}}" />
                    </div>
                    <div class="form-control">
                        <label class="label">
                            <span class="label-text">Last Name</span>
                            {{with .Form.Errors.Get "last_name"}}
                            <span class="label-text-alt text-error">{{.}}</span>
                            {{end}}
                        </label>
                        <input id="last_name" name="last_name" type="text" placeholder="Doe" 
                        class="input input-bordered {{with .Form.Errors.Get "last_name"}} input-error {{end}}" value="{{$res.LastName}}" />
                    </div>
                    <div class="form-control">
                        <label class="label">
                            <span class="label-text">Email</span>
                            {{with .Form.Errors.Get "email"}}
                            <span class="label-text-alt text-error">{{.}}</span>
                            {{end}}
                        </label>
                        <input id="email" name="email" type="email" placeholder="johndoe@mail.com" 
                        class="input input-bordered {{with .Form.Errors.Get "email"}} input-error {{end}}" value="{{$res.Email}}" />
                    </div>
                    <div class="form-control">
                        <label class="label">
                            <span class="label-text">Phone Number</span>
                            {{with .Form.Errors.Get "phone"}}
                            <span class="label-text-alt text-error">{{.}}</span>
                            {{end}}
                        </label>
                        <input id="phone" name="phone" type="text" placeholder="0812345678" 
                        class="input input-bordered {{with .Form.Errors.Get "phone"}} input-error {{end}}" value="{{$res.Phone}}" />
                    </div>
                    <div class="form-control mt-6">
                        <button class="btn btn-primary">Make Reservation</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{{end}}