{{template "base" .}}

{{define "content"}}
{{$res := index .Data "reservation"}}
<div class="hero">
    <div class="hero-content text-center">
        <div class="max-w-screen p-5">
            <h1 class="text-5xl font-bold mb-5">Reservation Summary</h1>
            <div class="overflow-x-auto w-full">
                <table class="table w-full">
                    <!-- head -->
                    <thead>
                        <tr>
                            <th>Booker Info</th>
                            <th>Reservation Info</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- row 1 -->
                        <tr>
                            <td>
                                <div class="flex items-center space-x-3">
                                    <div class="avatar">
                                        <div class="w-12 mask mask-hexagon">
                                            <img src="https://api.lorem.space/image/face?hash=55350" />
                                        </div>
                                    </div>
                                    <div>
                                        <div class="font-bold">{{$res.FirstName}}</div>
                                        <div class="text-sm opacity-50">{{$res.LastName}}</div>
                                    </div>
                                </div>
                                <div>
                                    <b>Email: </b> {{$res.Email}} <br>
                                    <b>Tel: </b> {{$res.Phone}}
                                </div>
                            </td>
                            <td>
                                <h3 class="font-bold">{{$res.Room.RoomName}}</h3> 
                                <br>
                                <p class="font-bold text-sm">From</p>
                                <p class="text-xs">{{index .StringMap "start_date"}}</p>
                                <p class="font-bold text-sm">To</p>
                                <p class="text-xs">{{index .StringMap "end_date"}}</p> 
                                <span class="badge badge-info badge-sm">
                                    {{$d:=index .IntMap "duration"}}
                                    {{$d}}
                                    {{ if (gt $d 1) }}
                                        {{ " Days" }}
                                    {{ else }} 
                                        {{ " Day" }}
                                    {{ end }}
                                </span>
                            </td>
                        </tr>
                </table>
            </div>
        </div>
    </div>
</div>
{{end}}