{{template "base" .}}

{{define "content"}}
<div class="hero">
    <div class="hero-content flex-col lg:flex-row-reverse">
        <div class="text-center lg:text-left">
            <h1 class="text-5xl font-bold">Search for Availability</h1>
            <p class="py-6">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi
                exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.</p>
        </div>
        <div class="card flex-shrink-0 w-full max-w-md shadow-2xl bg-base-100">
            <div class="card-body">
                <form action="/search-availability" method="post" novalidate class="needs-validation" autocomplete="off">
                    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                    <div class="form-control">
                        <div id="date-range" class="flex items-center">
                            <div class="relative">
                                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                    <svg class="w-5 h-5 text-gray-500" fill="currentColor" viewBox="0 0 20 20"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                </div>
                                <input name="start" type="text" id="start"
                                    class="input input-bordered sm:text-sm block w-full pl-10 p-2.5"
                                    placeholder="Check-in date"
                                    onfocus="date_modal.checked=true">
                            </div>
                            <span class="mx-4 text-gray-500">to</span>
                            <div class="relative">
                                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                    <svg class="w-5 h-5 text-gray-500 " fill="currentColor" viewBox="0 0 20 20"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                </div>
                                <input name="end" type="text" id="end"
                                    class="input input-bordered sm:text-sm block w-full pl-10 p-2.5"
                                    placeholder="Check-out date"
                                    onfocus="date_modal.checked=true">
                            </div>
                        </div>
                    </div>
                    <div class="form-control mt-6">
                        <button type="submit" ><button class="btn btn-primary">Search</button></button>
                    </div>
                </form>
            </div>
        </div>
    

        <!-- Date modal -->
    <input type="checkbox" id="date-modal" class="modal-toggle" />
    <label id="date-container" for="date-modal" class="modal cursor-pointer">
    </label>
    </div>

    
</div>
{{end}}
{{ define "js" }}
<script>
    const dateRangePickerEl = document.getElementById('date-range');
    const st = document.getElementById('start');
    const ed = document.getElementById('end');
    const date_modal = document.getElementById('date-modal');
    const date_con = document.getElementById('date-container');
    new DateRangePicker(dateRangePickerEl, {
        // options
        format: "d MM yyyy",
        minDate: new Date(),
        buttonClass: 'btn btn-outline',
        container: date_con,
    });
</script>
{{ end }}

{{define "css"}}
<style>
    @media (max-width: 1024px) { 
        .datepicker {
            z-index: 99999 !important;
            position: fixed !important;
            top: 50% !important;
            left: 50% !important;
            -webkit-transform: translate(-50%, -50%) !important;
            transform: translate(-50%, -50%) !important;
            box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
        }
    }
</style>
{{end}}